#basket-div{
    background-color: #181a20;
    width: 101%;
    position: relative;
    right: 10px;
    -o-border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.beer-in-cart{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 2px solid #e88f1c;
    width: 100%;
    gap: 30px;
}

.img-cart{
    width: 30px;
    margin: 20px;
    position: relative;
    left: 20px;
}

.name-cart{
    color: #f3ebe0;
    font-size: 30px;
    position: relative;
    left: 150px;
    width: 1200px;
}

.price-in-cart{
    color: #e88f1c;
    font-size: 30px;
    position: relative;
    right: 50px;
}

.quantity{
    color: #e88f1c;
    background: none;
    font-size: 30px;
    width: 100px;
    padding: 20px;
    position: relative;
    right: 50px;
}

.remove-button{
    color: #e88f1c;
    cursor: pointer;
    margin: 0;
    float: right;
    background: none;
    border: none;
    font-size: 30px;
    position: relative;
    right: 50px;
}

.message-cart{
    font-size: 54px;
    margin: 100px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.confirm{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    color: #e88f1c;
    font-size: 40px;
    border-bottom: 2px solid #e88f1c;
}

.totalPrice{
    position: relative;
    left: 20px;
    width: 300px;
}

.orderButton{
    border:none;
    background: none;
    color: #e88f1c;
    height: 80px;
    top: 45px;
    position: relative;
    font-size: 40px;
    padding: 20px;
    cursor: pointer;
    left: 1050px;
}

.orderButton:hover{
    color:#f3ebe0;
}

.orderButton:active{
    color: #8c8780;
}

@media screen and (max-width: 768px){
    .name-cart{
        left: 50px;
    }

    #basket-div{
        width: 768px;
    }

    .orderButton{
        left: 100px;
    }
}