@font-face {
    font-family: "GreatLeaderLight";
    src:
      url("/Fonts/GreatLeader/GreatLeaderLight.ttf") format("ttf"),
  }

#Info{
    display: none;
    background-color: #181a20;
    -o-border-radius: 50px;
    width: 101%;
    height: 800px;
    position: relative;
    right: 8px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    margin-top: 105px;
    margin-bottom: 105px;
    border: 5px solid #f3ebe0;
}

#beer-details{
    color: #e88f1c;
    position: relative;
}

#beer-image{
    width: 200px;
    height: 700px;
    position: relative;
    top: 50px;
    left: 50px;
}

#beer-name{
    color: #f3ebe0;
    position: relative;
    left: 350px;
    bottom: 700px;
    font-size: 54px;
    width: 400px;
}

#beer-abv{
    position: relative;
    width: 200px;
    left: 350px;
    bottom: 700px;
    font-size: 32px;
}

#beer-ibu{
    position: relative;
    width: 200px;
    left: 550px;
    bottom: 770px;
    font-size: 32px;
}

#beer-description{
    position: relative;
    width: 1000px;
    margin: 0;
    left: 350px;
    bottom: 730px;
    font-size: 32px;
    font-family: "GreatLeaderLight";
}

#beer-food-pairing{
    position: relative;
    width: 1000px;
    margin: 0;
    font-size: 32px;
    left: 350px;
    bottom: 700px;
}

#beer-price{
    position: relative;
    width: 250px;
    font-size: 54px;
    left: 350px;
    bottom: 700px;
}

#beer-price-button{
    position: relative;
    left: 550px;
    bottom: 820px;
    font-size: 54px;
    padding-left: 30px;
    padding-right: 30px;
    border-top: 2px solid #f3ebe0;
    border-bottom:2px solid #f3ebe0;
    border-right:2px solid #f3ebe0;
    border-left:none;
    color: #f3ebe0;
    background-color: #181a20;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
}

#count{
    background: none ;
    color: #f3ebe0;
    position: relative;
    border-top: 2px solid #f3ebe0;
    border-bottom:2px solid #f3ebe0;
    border-left:2px solid #f3ebe0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 20px;
    border-right:none;
    font-size: 54px;
    bottom: 820px;
    left: 555px;
}

#beer-price-button:active{
    color: #8c8780;
    border: 2px solid #8c8780;
}

#button-back{
    color: #e88f1c;
    font-size: 32px;
    position: relative;
    left: 1000px;
    bottom: 600px;
    background: none;
    cursor: pointer;
    border: none;
}

#button-back:active{
    color: #71460d;
}

@media screen and (max-width: 768px){
    #beer-image{
        width: 100px;
        height: 400px;
        left: 100px;
        bottom: 250px;
        position: absolute;
    }

    #beer-name{
        font-size: 30px;
        bottom: 0;
    }

    #beer-abv, #beer-ibu, #beer-description, #beer-food-pairing{
        font-size: 20px;
        bottom: 0px;
    }

    #beer-ibu{
        bottom: 40px;
    }

    #beer-description, #beer-food-pairing{
        width: 300px;
    }

    .beer-details-container{
        right: 50px;
        bottom: -50px;
    }

    #beer-price{
        bottom: 0;
    }

    #beer-price-button, #count{
        bottom: 120px;
    }
}