@import url('https://fonts.cdnfonts.com/css/great-leader');

#footer{
    height: 600px;
    width: 101%;
    display: flex;
    flex-direction: row;
    background-color: #181a20;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    right: 8px;
    margin: 0;
    top: 20px;
    border-top: 5px solid #f3ebe0;
}

#OurLocation{
    position: relative;
    left: 100px;
    bottom: -10px;
    color: #e88f1c;
    font-family: "GreatLeaderLight";
    font-size: 74px;
    margin: 0;
}

#map{
    width: 600px;
    height: 450px;
    border:0;
    position:relative;
    left:100px;
    margin: 0;
    top: 25px;
}

#Phones, #Adress, #Email{
    color:#e88f1c;
    font-size: 24px;
    position: relative;
    left: 150px;
    font-family: "GreatLeaderLight";
    line-height: 50px;
    letter-spacing: 0.1em;
}

#Icons{
    color: #e88f1c;
    font-size: 34px;
    position: relative;
    left: 150px;
    letter-spacing: 0.5em;
}

#Contacts{
    position: relative;
    top: 150px;
    margin: 0;
    height: 300px;
}

#flood{
    position: relative;
    left: 250px;
    top: 125px;
    height: 300px;
}

.flood-text{
    color:#e88f1c;
    font-size: 24px;
    position: relative;
    font-family: "GreatLeaderLight";
    line-height: 50px;
    letter-spacing: 0.1em;
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 23px;
}

.flood-text:active{
    color: #f3ebe0;
}

.icons{
    border: none;
    background: none;
    color: #e88f1c;
    font-size: 34px;
    cursor: pointer;
}

.icons:active{
    color: #f3ebe0;
}

@media screen and (max-width: 768px){
    #footer{
        top: 120px;
        width: 768px;
        height: 500px;
    }

    #OurLocation{
        font-size: 50px;
    }

    #map{
        width: 300px;
        height: 350px;
    }

    #Contacts{
        bottom: 1000px;
        right: 40px;
    }

    #Phones, #Adress, #Email{
        color:#e88f1c;
        font-size: 16px;
        position: relative;
        line-height: 50px;
        letter-spacing: 0.1em;
        bottom: 100px;
    }

    #MapDiv{
        width: 310px;
    }

    #Icons{
        bottom: 100px;
    }

    #flood{
        display: none;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    #map{
        width: 250px;
        height: 450px;
    }

    #MapDiv{
        width: 120px;
    }

    #OurLocation{
        font-size: 32px;
        width: 200px;
    }

    #Phones, #Adress, #Email{
        color:#e88f1c;
        font-size: 16px;
        position: relative;
        line-height: 50px;
        letter-spacing: 0.1em;
        bottom: 50px;
        left: 300px;
    }

    #Icons{
        font-size: 16px;
        left: 330px;
        bottom: 30px;
    }

    .flood-text{
        width: 180px;
        bottom: 60px;
    }

    #flood{
        width: 180px;
        left: 350px;
    }

    #footer{
        width: 1024px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px){
    #map{
        width: 400px;
    }
}